---
import { getCollection, type CollectionEntry } from 'astro:content';

import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import WorkItem from '../components/WorkItem.astro';
import type { Work } from '../types/index';

const work: CollectionEntry<'work'>[] = (await getCollection('work'))
  .filter((entry: CollectionEntry<'work'>) => entry.data.published === true)
  .sort(
    (a: CollectionEntry<'work'>, b: CollectionEntry<'work'>) =>
      new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );

const title = "Leandro Ubilla - Web developer";
const description = "Thoughtful Web development that helps businesses and creators craft meaningful user journeys with a focus on design, functionality, and performance.";
---

<BaseLayout {title} {description}>
  <section class="my-8 md:mb-12 md:mt-16 px-5">
    <div class="grid gap-4 xl:gap-8 sm:grid-cols-1 xl:grid-cols-2 items-start">
      <div>
        <h1 class="heading-hero"> 
          Web Developer & Designer from Uruguay
        </h1>
      </div>
      <div>
        <p class="text-balance mb-2 lg:text-lg leading-relaxed">
          I help creators and small teams build clean, usable websites through thoughtful 
          design and frontend development, using both code and no-code tools to fit 
          the project's needs.
        </p>
        <p class="text-balance lg:text-lg leading-relaxed">
          I also create high-converting 
          <a href="https://scriptingpixels.com" target="_blank" rel="noopener noreferrer" class="font-semibold">
            Framer templates
          </a>, built for speed, clarity, and results. 
          Use them to launch a pro-level site without writing a single line of code.
        </p>

        <div class="flex flex-col md:flex-row gap-4 mt-8">
          <a
            href="mailto:leandroubilla@protonmail.com"
            class="all-btn"        
          >
            Work with me
          </a>
          <a 
            href="https://www.fiverr.com/leanug" 
            class="py-3 hover:bg-gray-200 transition ease-in font-medium md:text-xl px-5 justify-center rounded-lg flex items-center gap-1.5 border border-gray-300"
          >
            <Image
              src="/fiverr-icon.svg"
              alt={`Fiverr Logo`} 
              class="w-5 h-5"
              width="36" 
              height="36"
              decoding="async"
              loading="lazy"
            />
            Fiverr Reviews
          </a>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Work Collection" class="px-5">
    <div class="grid gap-8 sm:grid-cols-1 xl:grid-cols-2">
      {work.map(({ data }: { data: Work['data'] }) => (
        <WorkItem
          img={data.img}
          title={data.title}
          tags={data?.tags}
          outbound={data?.outbound}
          slug={data.slug}
          more={data?.more || false}
        />
      ))}
    </div>
  </section>
</BaseLayout>
