---
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import WorkItem from '../components/work/WorkItem.astro';
import Plain2 from "../components/icons/Plain2.astro";
import Contra from "../components/icons/Contra.astro";

const work: CollectionEntry<'work'>[] = (await getCollection('work'))
  .filter((entry) => entry.data.published === true)
  .sort((a, b) => {
    const orderA = a.data.order ?? -Infinity;
    const orderB = b.data.order ?? -Infinity;

    if (orderA !== orderB) {
      return orderB - orderA; // higher order first
    }

    return (
      new Date(b.data.date).getTime() -
      new Date(a.data.date).getTime()
    );
  });

const title = "Leandro Ubilla - Web developer";
const description = "Thoughtful Web development that helps businesses and creators craft meaningful user journeys with a focus on design, functionality, and performance.";
---

<Layout {title} {description}>
  <section class="my-8 md:mb-12 lg:mb-16 md:mt-16">

    <div class="max-w-4xl text-center mx-auto">
      <!-- Availability badge -->
      <div class="bg-base-100 inline-flex items-center gap-2.5 px-3 py-1.5 mb-4 rounded-full text-md text-white">
        <span class="flex items-center gap-2 rounded-full">
          <span class="hidden relative sm:flex size-2.5">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
            <span class="relative inline-flex size-2.5 rounded-full bg-green-500"></span>
          </span>
        </span>
        <span class="text-base-content text-sm">
          Available for Product Design & Dev
          <!-- Available for Product Design & Dev — From Late March -->
        </span>
      </div>

      <!-- H1 -->
      <h1 class="font-medium leading-[1.2] md:leading-[1.1]
                text-2xl sm:text-3xl md:text-5xl text-balance">
        Web Development & <br /> Product Design
      </h1>

      <!-- Description -->
      <p class="mt-4 md:text-md text-base-content/70 max-w-2xl mx-auto text-balance">
        I help companies and makers turn <br />  ideas into thoughtful digital experiences.
      </p>

      <!-- CTA -->
      <div class="mt-8 flex gap-2.5 justify-center flex-wrap">
        <a
          href="mailto:leandroubilla@protonmail.com"
          class="btn btn-neutral rounded-lg pl-3.5 shadow-lg hover:shadow-xs tracking-normal"
        >
          <Plain2 size={16} class="mr-0.5" />
          Send me an email
        </a>
        <a
          href="https://contra.com/leandro_ubilla/"
          class="group relative inline-flex items-center overflow-hidden btn btn-ghost rounded-lg pl-3.5 tracking-normal"
        >
          <span class="relative h-4 w-4 mr-1 overflow-hidden">
            <!-- Top icon (default visible) -->
            <span class="absolute inset-0 flex items-center justify-center transition-transform duration-300 ease-in-out group-hover:-translate-y-6">
              <Contra size={16} />
            </span>

            <!-- Bottom icon (hidden below) -->
            <span class="absolute inset-0 flex items-center justify-center translate-y-6 transition-transform duration-300 ease-in-out group-hover:translate-y-0">
              <Contra size={16} />
            </span>
          </span>

          <span class="relative z-10">Hire me on Contra</span>
        </a>
      </div>
    </div>
  </section>

  <section aria-label="Work Collection">
    <div class="space-y-3">
      {work.map((entry) => (
        <WorkItem
          img={entry.data.img}
          title={entry.data.title}
          tags={entry.data?.tags}
          outbound={entry.data?.outbound}
          slug={entry.slug}
          more={entry.data?.more || false}
        />
      ))}
    </div>
  </section>
</Layout>