---
import { getCollection, type CollectionEntry } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import WorkItem from '../components/WorkItem.astro';
import type { Work } from '../types/index';

const work: CollectionEntry<'work'>[] = await getCollection('work');

const title = "Leandro Ubilla - Web developer";
const description = "Thoughtful Web development that helps businesses and creators craft meaningful user journeys with a focus on design, functionality, and performance.";
---

<BaseLayout {title} {description}>
  <section aria-label="Work Collection" class="mb-32 max-w-screen-2xl mx-auto px-5">
    <div class="space-y-6">
      {work.map(({ data }: { data: Work['data'] }) => (
        <article 
          class="relative rounded-2xl overflow-hidden" 
        >
          <WorkItem
            transition={data.slug}
            img={data.img}
            title={data.title}
          />
        </article>
      ))}
    </div>
  </section>
  <section class="mb-28 mt-20 max-w-screen-2xl mx-auto px-5">
    <div class="max-w-3xl">
      <span class="font-medium uppercase text-sm">Hello, my name is Leandro 👋</span>
      <h1 class="heading-hero mt-2"> 
        Webflow and React.js Developer
      </h1>
      <p class="text-balance mb-2">
        I help businesses and creators craft meaningful user journeys, 
        with thoughtful web development focused on design, functionality, 
        and performance.
      </p>
      <p>
        I build sites using both code and no-code tools, depending on what fits best. 
        I'm comfortable with Figma and focus on creating clean, 
        user-focused interfaces that actually work.      
      </p>
    </div>
  </section>
</BaseLayout>
