---
import { getCollection, type CollectionEntry } from 'astro:content';

import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import WorkItem from '../components/WorkItem.astro';
import type { Work } from '../types/index';

const work: CollectionEntry<'work'>[] = (await getCollection('work'))
  .filter((entry: CollectionEntry<'work'>) => entry.data.published === true)
  .sort(
    (a: CollectionEntry<'work'>, b: CollectionEntry<'work'>) =>
      new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );

const title = "Leandro Ubilla - Web developer";
const description = "Thoughtful Web development that helps businesses and creators craft meaningful user journeys with a focus on design, functionality, and performance.";
---

<BaseLayout {title} {description}>
  <section class="my-8 md:mb-12 lg:mb-20 md:mt-16">
     <div class="grid gap-4 xl:gap-8 sm:grid-cols-1 xl:grid-cols-2 items-start">
      <div>
        <h1 class="heading-hero mt-2.5"> 
          Web Developer & Designer from Uruguay
        </h1>
      </div>
      <div class="xl:pl-20">
        <p class="text-balance mb-2 text-gray-500 lg:text-lg leading-relaxed">
          Hello, I'm Leandro 👋🏻 and I design and develop websites that help businesses stand out, communicate clearly, and turn visitors into clients.
        </p>
        <div class="flex gap-3 flex-wrap mt-10 md:mt-8">
          <span 
            class="flex gap-2 text-sm items-center border border-gray-300 select-none px-3 h-8 rounded-lg"
          >
            Figma
          </span>
          <span 
            class="flex gap-2 text-sm items-center border border-gray-300 select-none px-3 h-8 rounded-lg"
          >
            Astro.js
          </span>
          <span 
            class="flex gap-2 text-sm items-center border border-gray-300 select-none px-3 h-8 rounded-lg"
          >
            Webflow
          </span>
          <span 
            class="flex gap-2 text-sm items-center border border-gray-300 select-none px-3 h-8 rounded-lg"
          >
            Framer
          </span>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Work Collection">
    <div class="grid gap-8 sm:grid-cols-1 xl:grid-cols-2">
      {work.map(({ data }: { data: Work['data'] }) => (
        <WorkItem
          img={data.img}
          title={data.title}
          tags={data?.tags}
          outbound={data?.outbound}
          slug={data.slug}
          more={data?.more || false}
          video={data?.video || false}
        />
      ))}
    </div>
  </section>
</BaseLayout>
