---
import { Image } from 'astro:assets';

const { slug, img, title, outbound, tags, more } = Astro.props;
---

<article class="relative">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2 mb-3">
    <div class="flex gap-6 items-center">
      <h2 class="font-semibold">{title}</h2>
      {outbound && (
        <a 
          href={outbound} 
          target="_blank" 
          rel="noopener noreferrer" 
          class="flex gap-2 text-sm items-center bg-gray-200 hover:bg-gray-300 transition px-3 h-8 rounded-lg"
        >
          Open
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </a>
      )}

      {more && (
        <a 
          href={`/work/${slug}`} 
          class="flex gap-2 text-sm items-center bg-gray-200 hover:bg-gray-300 transition px-3 h-8 rounded-lg"
        >
          See more
          <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      )}
    </div>
    
    {tags && (
      <ul class="flex flex-wrap gap-3 text-sm">
        {tags.map((tag: string) => (
          <li class="px-3 h-8 rounded-lg flex items-center bg-[#f6f6f6] text-gray-700">
            {tag}
          </li>
        ))}
      </ul>
    )}
  </div>

  {more ? (
    <a 
      href={`/work/${slug}`} 
      class="block overflow-hidden rounded-2xl group cursor-pointer"
    >
      <Image
        transition:name={`img-${slug}`}
        src={`/${img}`}
        alt={`Cover of ${title}`} 
        class="w-full object-cover rounded-2xl bg-[#f2f2f2] transition-transform duration-300 ease-in-out hover:scale-105"
        width="1280" 
        height="960"
        decoding="async"
        loading="lazy"
      />
    </a>
  ) : (
    <div class="overflow-hidden rounded-2xl group cursor-all-scroll">
      <Image
        transition:name={`img-${slug}`}
        src={`/${img}`}
        alt={`Cover of ${title}`} 
        class="w-full object-cover rounded-2xl bg-[#f2f2f2] transition-transform duration-300 ease-in-out hover:scale-105"
        width="1280" 
        height="960"
        decoding="async"
        loading="lazy"
      />
    </div>
  )}
</article>
