---
import { Image } from 'astro:assets';

import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import type { Work } from "../../types";

export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((item: Work) => ({
    params: { id: item.data.slug },
    props: item
  }));
}

const { data } = Astro.props;
const { title, img, slug } = data;

const { Content } = await render(Astro.props)

export const prerender = true;
---

<BaseLayout title={`${title} - Portfolio`}>
  <div class="flex flex-col gap-12 px-2.5 lg:px-5 pb-20">
    <a href="/">Go back</a>
    <section class="flex flex-col gap-8">
      <div class="overflow-hidden rounded-2xl">
        <Image
          transition:name={`img-${slug}`}
          src={`/${img}`}
          alt={`Cover of ${title}`} 
          class="w-full object-cover rounded-2xl bg-[#f2f2f2]"
          width="1280" 
          height="960"
          decoding="async"
          loading="lazy"
        />
      </div>
      <div class="flex">
        <h1 class="text-3xl w-1/5 font-semibold">{title}</h1>
        <div class="w-3/5 md:text-xl">
          <Content />
        </div>
      </div>
      <Image
        src={`/${img}`}
        alt={`Cover of ${title}`} 
        class="w-full object-cover rounded-2xl bg-[#f2f2f2]"
        width="1280" 
        height="960"
        decoding="async"
        loading="lazy"
      />
    </section>
  </div>
</BaseLayout>