---
import Media from '../ui/MediaRenderer.astro';

const { slug, img, title, outbound, more, video } = Astro.props;
---

<article class="relative group">
  <div class="relative overflow-hidden rounded-2xl">
    {/* Use a fragment to avoid repeating logic */}
    {more ? (
      <a href={`/work/${slug}`} class="block w-full h-full">
        <Media {slug} {img} {video} {title} {more} />
      </a>
    ) : (
      <div class="w-full">
        <Media {slug} {img} {video} {title} {more} />
      </div>
    )}
  </div>
</article>